*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.heading{
    font-size: 10rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-align: center;
    color: #464d50;
}

.leftP{
    margin: 0 2rem;
    padding: 2.5rem 2rem 2rem 2rem;
    width: 50%;
    background: #356c9a;
    color: #fff;
    position: relative;
}

.yellow{
    padding: 1rem;
    font-size: 1.5rem;
    background: #f7c85d;
    color: #356c9a;
}

.img2{
    margin-right: 2rem;
    width: 20rem;
}

.tag{
    padding: 1rem 2rem;
    position: absolute;
    top: -1.75rem;
    left: 7rem;
    font-size: 2rem;
    font-weight: 400;
    background: #464d50;
    border-radius: 2rem;
}